.Story_MainCont {
    display: flex;
    direction: rtl;
    padding: 16px 0 0 0;
    justify-self: center;
    overflow: hidden; /* محتوا را مخفی کن چون اسکرول بار نداریم */
    width: 100%;
    max-width: 1336px;
    position: relative;
}

.left{
    padding: 10px;
}

.Story_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 50px 0px 0px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    /* ویژگی‌های مهم برای پرفورمنس */
    will-change: transform; /* به مرورگر می‌گوید که این المنت تغییر می‌کند */
}


.Story_container {
    margin-left: 24px;
    height: 140px;
    width: 84px;
    flex: 0 0 auto;
    user-select: none;
}

.Story_IMG_Gradient {
    background: linear-gradient(315deg, #e03d96, #7d4c9e);
    height: 84px;
}
.Story_IMG_Gradient{
    background: linear-gradient(315deg , #e03d96, #7d4c9e);
    height: 84px;
}
.Story_IMG_WHITE{
    background-color: #fff;
    width: calc(100% - 6px);
}
.Story_IMG_CONT{
    width: calc(100% - 6px);

}
.Story_IMG{
    border-radius: 50%;
    height: 100%;width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

/*  موقعیت دهی به کانتینر گردینت و سفید در کد زیر*/
.Story_IMG_Gradient , .Story_IMG_WHITE , .Story_IMG_CONT {
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;align-items: center;
}

.Story_title{
    font-size: 11px;
    color: #23254e;
    line-height: 2.17;
    width: 100%;
    text-align: center;
    /* ایجاد محدودیت تکست برای نمایش*/
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* max-height: 1.7rem; */
}
